.footer {
  background-color: #222;
  color: #fff;
  padding: 2rem 0 1.5rem 0;
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.icons li {
  margin: 0 1em;
}

.icons li:hover {
  transition: 0.4s ease;
  color: #ffbb33;
}

.icons svg {
  font-size: 2em;
  cursor: pointer;
}